* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.2;
}

.top {
    height: 70px;
    padding: 15px 60px;
}

.top-wrapper {
    display: flex;
    align-items: center;
}

.top-logo {
    color: #e50914;
    text-transform: uppercase;
    margin-right: 40px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    letter-spacing: 4px;
}

.top-list {
    display: flex;
    font-size: 14px;
}

.top-first-item {
    list-style-type: none;
}

.top-first-item a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.top-item {
    list-style-type: none;
}

.top-item a {
    color: #e5e5e5;
    text-decoration: none;
    margin-left: 20px;
}

.top-item a:hover {
    color: #b3b3b3;
}

/* Filme Principal */

.filme-principal {
    background: linear-gradient(77deg,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 85%), url("../img/top-background.png");
    background-size: cover;
    height: 50.25vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: 35%;
    margin-left: 60px;
}

.titulo {
    font-family: 'Cormorant Garamond', serif;
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 10px;
    color: #7e3c21;
    text-transform: uppercase;
    text-align: center;
    padding-right: 35px;
}

.descricao {
    font-weight: 400;
    line-height: normal;
    width: 100%;
    font-size: 21px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.45);
    letter-spacing: 0.2px;
    margin-top: 15px;
}

.btn {
    margin-top: 20px;
}

.btn-assistir, .btn-info {
    font-size: 21px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}